body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0 12%;
    width: auto !important;
    position: relative;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.75;
    font-family: "Inter", sans-serif;
}

h1, h3 {
    margin: 0;
}

input {
    width: 25em;
}

button {
    width: 10em;
}

#input-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: 5px auto;
    border: 2px black solid;
    text-align: center;
}

#words-container {
    position: relative;
    display: grid;
    gap: 5px;
    grid-template-columns: 100%;
    width: min-content;
    height: min-content;
    padding: 25px;
    margin: 0 auto;
    border: 2px black solid;
}

.word {
    display: flex;
    gap: 5px;
}

.letter
{
    height: 95px;
    width: 95px;
    border: 2px black solid;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
}

#start div
{
    background-color: limegreen;
}

#end div
{
    background-color: indianred;
}